## Week 4 Tuesday Exercise

**Assignment**: This exercise will use pandas to explore tweet data.  Specifically, you will:
  
* Read a file of tweets into a dataframe
* Use pandas to describe and analyze the data
* Discuss how these methods might be used by relevant firms

For this exercise, you will have to complete all the tasks within this notebook, save the entire notebook, and then upload into the Week 4 Tuesday Assignment for your group on BlackBoard. Save this notebook with a new name with the following format:

**Week_4_Tues_Exercise_Group_group_number.ipynb**

These in-class exercises are designed to allow you to explore Python with your group and **DO NOT** include step-by-step directions or answers that have only one possibility. Use your team and other resources to determine how best to complete them. Make sure before you turn in your notebook that it runs without errors and the requested output is visible in the notebook. If you go through multiple steps in your code, make sure all those steps are included so that we can evaluate your work.

First off, unzip and read the tweet data from the file from the datasets folder named 'pokemon.zip' into a dataframe and examine the dataset.

**Analyze Tweet Data**

In [6]:
# This code block is to make the tweets_list function available. You don't need to modify anything here, just run it.

import json

def tweets_list(filename):
    """
    Read lines from filepath and file into a list of dictionaries.
    
    Parameters
    ----------
    filename: str
    """
    tweets = []
    f = open(filename, 'r')
    for line in f:
        try:
            tweet = json.loads(line)
            tweets.append(tweet)
        except:
            continue
    return tweets

In [7]:
# Read file with tweet data into a variable using tweets_list

data = tweets_list('./datasets/pokemon.txt')

In [21]:
# What datatype is data
type(data)

list

In [12]:
# Now, read the data variable into a dataframe
import pandas as pd

tweet_df = pd.DataFrame(data)

In [27]:
# How many tweets are in the tweet dataframe?
tweet_df.count()

contributors                    0
coordinates                     0
created_at                   2859
entities                     2859
extended_entities             800
favorite_count               2859
favorited                    2859
filter_level                 2859
geo                             0
id                           2859
id_str                       2859
in_reply_to_screen_name       359
in_reply_to_status_id         307
in_reply_to_status_id_str     307
in_reply_to_user_id           359
in_reply_to_user_id_str       359
is_quote_status              2859
lang                         2859
place                          52
possibly_sensitive           1827
quoted_status                 142
quoted_status_id              142
quoted_status_id_str          142
retweet_count                2859
retweeted                    2859
retweeted_status             1076
source                       2859
text                         2859
timestamp_ms                 2859
truncated                    2859
user                         2859
user_location                1828
dtype: int64

In [ ]:
# How many of the tweets are retweets? If they are not retweeted, they have no data.

In [ ]:
# How many of the tweets are determined to be English?

With nested data like this, you can unpack individual columns with multiple values into their own column. The syntax is beyond the scope of this course, but is as follows:
```
dataframe['new column'] = dataframe['column to unpack'].map(lambda tweet: tweet['key to unpack'])
```

In [26]:
# This code creates a new column called 'user_location' from the nested data in the user column
tweet_df['user_location'] = tweet_df['user'].map(lambda tweet: tweet['location'])

In [ ]:
# How many tweets originated in the user location of Hyrule?

## Written Response 1
(Enter Your Response in This Cell)

What other nested variables might you want to unpack into your dataframe for analysis if you were a data scientist for the Pokémon Company (which is owned by Ninetendo)? 

Remember, you can use:
```
df.ix[row number][column to display]
```
to explore individual cases to help with this question)

## Written Response 2
(Enter Your Response in This Cell)

* How do you think the Pokémon Company uses streaming data like this?
* What specific applications could it have for product development?
* What other streaming datasets (internal or external) might the Pokémon Company use with the Twitter data?

## Written Response 3
(Enter Your Response in This Cell)

What would be one approach to measuring the impact of a negative tweet using data like this? (use specific fields from the tweet data in your response)

## Written Response 4
(Enter Your Response in This Cell)

Picking a company where one of you works, what streaming data sources might be useful for you and what sorts of research questions could they inform?

Skybe for business call quality data
Syslog forwarder

## Written Response 5
(Enter Your Response in This Cell)

Review this post about the Twitter metadata you were using- https://blog.twitter.com/2013/introducing-new-metadata-for-tweets

* How might some tweets lead to the language attribute being inaccurate or undetermined?